<h2>Bienvenido al expositor</h2>
<p>El modo actual es: {{modoElegido}} </p>
<div *ngIf="modoElegido === 'Comprar'">
    <p>Carrito</p>
    <p> {{librosComprados.length}} unidades compradas</p>
</div>

<h3>Libros comprados:</h3>
<div class="cards">
    <app-carta-libro *ngFor="let libro of librosComprados" (sacar)="sacarLibro(libro)" [libro]="libro"
        [estaEnCarrito]="true" />
</div>


<button (click)="cambiaLibro()">Cambiar</button>


<h3>Cátalogo de libros</h3>
<div class="cards">
    <app-carta-libro *ngFor="let libro of librosOfrecidos" [libro]="libro"
     (comprado)="gestionaCompra($event)" (borrar)="borrarLibro(libro)" />
</div>


<button (click)="cambiarModo('Comprar')">Comprar</button>
<button (click)="cambiarModo('Consultar')">Consultar</button>