<mat-card>
    <mat-card-header>
        <mat-card-title>Título: {{libro.titulo | uppercase}}</mat-card-title>
        <mat-card-subtitle>Autor: {{libro.autor}}</mat-card-subtitle>
        <ng-container *ngIf="!estaEnCarrito">
            <mat-card-subtitle>Stock: {{libro.stock}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: {{libro.precio}}</mat-card-subtitle>
        </ng-container>

    </mat-card-header>
    <mat-card-actions *ngIf="!estaEnCarrito">
        <button mat-raised-button color="primary" (click)="comprar()">Comprar</button>
        <button mat-raised-button color="accent">Añadir</button>
        <button mat-raised-button color="warn">Restar</button>
    </mat-card-actions>

    <mat-card-actions *ngIf="estaEnCarrito">
        <button mat-raised-button color="warn" (click)="sacarLibro()">Sacar</button>
    </mat-card-actions>


</mat-card>